/*--------------------------- UNIVERSAL NAVBAR ------------------------ */

.navbar2 {
  width: 100%;
  position: relative;
  z-index: 9999; /* Ensures it stays above all blog content */
}

.navbar2 a:link, .navbar2 a:visited, .navbar2 a:active {
  color: #777;
  font-family: tahoma, sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  padding: 11px 23px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: left;
}

.navbar2 a:hover, .dropdown:hover .dropbtn {
  color: #ffffff !important;
  background-color: #9c8461;
  text-decoration: none;
}

.navbar2.dropdown {
  display: inline-block;
}

.navbar2.dropdown2 {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #666;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  color: #fff !important;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #000;
  padding: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content2 a {
  color: #fff !important;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
}

.dropbtn2:hover .dropdown-content2 {
  display: inline-block;
}

.dropdown-content2 a:hover, .dropbtn2:hover {
  color: #fff;
  background-color: #9c8461;
}

/*--------------------------- END NAVBAR ------------------------ */
